* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: slategray;
  max-width: 750px;
  width: 500vh;
  padding-bottom: 100px;
}
.spanid {
  /* display: inline-block; */
  /* margin: 20xp; */
  border-right: 1px solid yellowgreen;
  /* padding: 50px; */
  /* margin: 100px; */
}
innercontainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  max-width: 500px;
  width: 100vh;
  background-color: yellowgreen;
}
