* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.container {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 700px;
  width: 100vh;
  padding: 20px 30px;
  font-size: 24px;
  font-weight: bolder;
  align-items: center;
  flex-direction: row;
  background-color: yellowgreen;
  border-bottom: 1px solid black;
}

.item > h2 {
  max-width: 350px;
  width: 100vh;
  display: flex;
  align-content: space-between;
  padding: 10px;
}
.item span {
  cursor: pointer;
  background-color: seagreen;
  max-width: 100px;
  width: 70px;
  padding: 9px;
  margin-left: 20px;
}
.item button {
  cursor: pointer;
  background-color: yellow;
  max-width: 300px;
  width: 100%;
  padding: 9px;
  margin-left: 20px;
}
